.board-container {
    /*background-color: black;*/
}

.form-container {
    width: 600px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-row label {
    width: 80px;
}

.form-row input[type='text'],
.form-row textarea {
    flex: 2;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.form-row textarea {
    flex: 2;
    height: 300px;
    resize: vertical;
}

button[type='submit'] {
    padding: 8px 12px;
    /*background-color: #007bff;*/
    border: none;
    /*color: #fff;*/
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-container button:hover{
    background-color: #ddd;
}