.product-info-container {
    display: flex;
    justify-content: center;
}

.product-info-table {
    width: 100%;
    border-collapse: collapse;
}
.product-info-title{
    font-size: 35px;
}
.product-info-image {
    width: 500px;
    height: 500px;
}

.product-info-details {
    font-size: 30px;
    margin-left: 80px;
}

.product-info-details > div {
    margin-bottom: 10px;
}

.product-rating {
    display: flex;
    align-items: center;
}

.product-info-modifydelete button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px 20px;
}

.product-info-modifydelete button:hover {
    background-color: #ddd;
}
.rating-save {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

.rating-save button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px;
}

.rating-save button:hover {
    background-color: #ddd;
}