.sidebar {
    background-color: lightsteelblue;
    color: white;
    position: fixed;
    /*position: relative;*/
    /*position: absolute;*/
    top: 0; /* 상단에 정렬 */
    left: 0;
    /*height: calc(100% - 50px); !* 헤더의 높이를 고려하여 사이즈 조정 *!*/
    width: 150px;
    bottom: 0;
    /*padding: 40px;*/
    z-index: 0;
    font-family: '나눔고딕', sans-serif;
    font-size: 17px;
}


.sidebar ul {
    margin-top: 100px;
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}
