<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.boot.board.dao.BoardMapper">
    <select id="findBoard" resultType="com.project.boot.board.domain.BoardVo">
        SELECT BOARD_NO,
        BOARD_TITLE,
        BOARD_CONTENT,
        BOARD_WRITER,
        BOARD_WRITTENDATE,
        BOARD_VIEWCOUNT,
        BOARD_RECOMMENDCOUNT
        FROM BOARD_TAB
        <where>
            <choose>
                <when test="category == 'BOARDTITLE'">
                    BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'BOARDCONTENT'">
                    BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'BOARDWRITER'">
                    BOARD_WRITER LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </where>
        ORDER BY BOARD_WRITTENDATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM BOARD_TAB
        <where>
            <choose>
                <when test="category == 'BOARDTITLE'">
                    BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'BOARDCONTENT'">
                    BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'BOARDWRITER'">
                    BOARD_WRITER LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </where>
    </select>
    <select id="findBoardInfo" resultType="com.project.boot.board.domain.BoardVo">
        SELECT *
        FROM BOARD_TAB
        WHERE BOARD_NO = #{boardNo}
    </select>
    <insert id="boardAdd" parameterType="com.project.boot.board.domain.BoardVo">
        INSERT INTO BOARD_TAB(BOARD_TITLE,
                              BOARD_WRITER,
                              BOARD_CONTENT)
        VALUES (#{title},
                #{writer},
                #{content})
    </insert>
    <delete id="boardDelete" parameterType="java.lang.Integer">
        DELETE FROM
                   BOARD_TAB
        WHERE BOARD_NO = #{boardNo}
    </delete>
    <update id="boardModify" parameterType="com.project.boot.board.domain.BoardVo">
        UPDATE
            BOARD_TAB
        SET
            BOARD_TITLE = #{title},
            BOARD_WRITER = #{writer},
            BOARD_CONTENT = #{content}
        WHERE BOARD_NO =#{no}
    </update>
</mapper>
