<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.product.item.model.ItemMapper">

<!--    <select id="findAll" resultType="project.product.item.model.ItemVO">-->
<!--        SELECT *-->
<!--        FROM PRODUCT-->
<!--        ORDER BY TODAY DESC-->
<!--    </select>-->
    <!-- 게시글 리스트 조회 -->
<!--    <select id="findAll" parameterType="project.product.item.model.SearchDto" resultType="project.product.item.model.ItemVO">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM-->
<!--        PRODUCT-->
<!--        ORDER BY-->
<!--        TODAY DESC-->
<!--        LIMIT #{offset}, #{recordSize}-->
<!--    </select>-->
    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="project.product.item.model.SearchDto" resultType="project.product.item.model.ItemVO">
        SELECT *
        FROM PRODUCT
        ORDER BY TODAY DESC
        <if test="offset &gt;= 0">
            LIMIT #{recordSize} OFFSET #{offset}
        </if>
        <if test="offset &lt; 0">
            LIMIT #{recordSize} OFFSET 0
        </if>
    </select>



    <!--    <select id="findAll" parameterType="project.product.item.model.SearchDto" resultType="project.product.item.model.ItemVO">-->
<!--        SELECT *-->
<!--        FROM PRODUCT-->
<!--        ORDER BY TODAY DESC-->
<!--            LIMIT #{offset}, #{recordSize}-->
<!--    </select>-->

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="project.product.item.model.SearchDto" resultType="int">
        SELECT COUNT(*)
        FROM PRODUCT
    </select>


    <!-- 게시글 수 카운팅 -->
<!--    <select id="count" parameterType="project.product.item.model.SearchDto" resultType="int">-->
<!--        SELECT-->
<!--            COUNT(*)-->
<!--        FROM-->
<!--            PRODUCT-->
<!--    </select>-->
    <select id="findByNo" resultType="project.product.item.model.ItemVO">
        SELECT *
        FROM PRODUCT
        WHERE NO=#{no}
    </select>
    <update id="editItem" parameterType="project.product.item.model.ItemVO">
        UPDATE PRODUCT
        SET PRODUCTNAME=#{productname},
            PRODUCTORIGIN=#{productorigin},
            PRODUCTPRICE=#{productprice},
            PRODUCTCATEGORY=#{productcategory},
            PRODUCTFILENAME=#{productfilename}
        WHERE NO=#{no}
    </update>
<!--    <select id="totalCount" resultType="int" parameterType="java.util.HashMap">-->
<!--        select count(*) from BOARDLIST-->
<!--        <choose>-->
<!--            <when test="query != null and data != null">-->
<!--                <where>-->
<!--                    ${query} LIKE CONCAT('%', #{data}, '%')-->
<!--                </where>-->
<!--            </when>-->
<!--        </choose>-->
<!--    </select>-->
<!--    <update id="updateGood" parameterType="java.util.HashMap">-->
<!--        UPDATE BOARDLIST SET ${data}=${data}+1-->
<!--        WHERE BOARDNO=#{boardno}-->
<!--    </update>-->
</mapper>