<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.boot.product.dao.ProductMapper">
    <!--전체 리스트 불러오기-->
    <select id="findProductsByPage" resultType="com.project.boot.product.domain.ProductVo">
        SELECT
        PRODUCT_NO,
        PRODUCT_NAME,
        PRODUCT_PRICE,
        PRODUCT_MANUFACTURER,
        PRODUCT_ORIGIN,
        PRODUCT_CATEGORY,
        PRODUCT_RATING,
        PRODUCT_VIEWCOUNT,
        PRODUCT_IMAGE,
        PRODUCT_REGDATE
        FROM PRODUCT_TAB
        <where>
            <choose>
                <when test="category == 'PRODUCTNAME'">
                    PRODUCT_NAME LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'PRODUCTORIGIN'">
                    PRODUCT_ORIGIN LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'PRODUCTCATEGORY'">
                    PRODUCT_CATEGORY LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </where>
        ORDER BY PRODUCT_REGDATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <!--전체 물품개수-->
    <select id="countProducts" resultType="int">
        SELECT COUNT(*) FROM PRODUCT_TAB
        <where>
            <choose>
                <when test="category == 'PRODUCTNAME'">
                    PRODUCT_NAME LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'PRODUCTORIGIN'">
                    PRODUCT_ORIGIN LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'PRODUCTCATEGORY'">
                    PRODUCT_CATEGORY LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </where>
    </select>
    <!--인기 물품 상위 10개-->
    <select id="findBestProducts" resultType="com.project.boot.product.domain.ProductVo">
        SELECT
            PRODUCT_NO,
            PRODUCT_NAME,
            PRODUCT_PRICE,
            PRODUCT_MANUFACTURER,
            PRODUCT_ORIGIN,
            PRODUCT_CATEGORY,
            PRODUCT_RATING,
            PRODUCT_VIEWCOUNT,
            PRODUCT_IMAGE,
            PRODUCT_REGDATE
        FROM PRODUCT_TAB
        ORDER BY PRODUCT_RATING
        DESC LIMIT 10;
    </select>
    <!--상세보기 페이지-->
    <select id="findProductInfo" resultType="com.project.boot.product.domain.ProductVo">
        SELECT *
        FROM PRODUCT_TAB
        WHERE PRODUCT_NO = #{productNo}
    </select>
    <insert id="productAdd" parameterType="com.project.boot.board.domain.BoardVo">
        INSERT INTO
            PRODUCT_TAB(PRODUCT_NAME,
                        PRODUCT_PRICE,
                        PRODUCT_MANUFACTURER,
                        PRODUCT_ORIGIN,
                        PRODUCT_CATEGORY,
                        PRODUCT_IMAGE
                        )
        VALUES(
               #{title},
               #{price},
               #{manufacturer},
               #{origin},
               #{category},
               #{imagePath}
              )
    </insert>
    <delete id="productDelete" parameterType="java.lang.Integer">
        DELETE FROM
                   PRODUCT_TAB
        WHERE PRODUCT_NO = #{productNo}
    </delete>
    <update id="productModifyAndImage" parameterType="com.project.boot.board.domain.BoardVo">
        UPDATE
            PRODUCT_TAB
        SET
            PRODUCT_IMAGE = #{imagePath},
            PRODUCT_NAME = #{productName},
            PRODUCT_PRICE = #{productPrice},
            PRODUCT_MANUFACTURER = #{productManufacturer},
            PRODUCT_CATEGORY = #{productCategory},
            PRODUCT_ORIGIN = #{productOrigin}
        WHERE PRODUCT_NO = #{productNo}
    </update>
    <update id="productModify" parameterType="com.project.boot.board.domain.BoardVo">
        UPDATE
            PRODUCT_TAB
        SET
            PRODUCT_NAME = #{productName},
            PRODUCT_PRICE = #{productPrice},
            PRODUCT_MANUFACTURER = #{productManufacturer},
            PRODUCT_CATEGORY = #{productCategory},
            PRODUCT_ORIGIN = #{productOrigin}
        WHERE PRODUCT_NO = #{productNo}
    </update>
</mapper>
