<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.product.user.model.UserMapper">
    <!-- 회원가입 -->
    <insert id="insertUser">
        INSERT INTO ADMINMEMBER
            (ID, PASSWORD, NAME)
        VALUES
            (#{id}, #{password}, #{name})
    </insert>

    <!--회원 조회-->
    <select id="findById" resultType="project.product.user.model.UserVO">
        SELECT NO, ID, PASSWORD, NAME
        FROM ADMINMEMBER
        WHERE id=#{id}
    </select>


    <!--로그인-->
<!--    <select id="idPassCheck" resultType="project.product.user.model.UserVO">-->
<!--        SELECT ID, PASSWORD-->
<!--        FROM ADMINMEMBER-->
<!--        WHERE ID=#{id}-->
<!--    </select>-->


<!--    <select id="getUserById" resultType="<package name>.vo.UserVo">-->
<!--        SELECT *-->
<!--        FROM User-->
<!--        WHERE id = #{id}-->
<!--    </select>-->


<!--    &lt;!&ndash; 회원정보 수정 &ndash;&gt;-->
<!--    <update id="updateUser">-->
<!--        UPDATE User-->
<!--        SET name = #{name},-->
<!--            username = #{username},-->
<!--            email = #{email},-->
<!--            password = #{password},-->
<!--            address = #{address},-->
<!--            phone = #{phone},-->
<!--            website = #{website},-->
<!--            company = #{company}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    &lt;!&ndash; 탈퇴 &ndash;&gt;-->
<!--    <delete id="deleteUser">-->
<!--        DELETE-->
<!--        FROM User-->
<!--        WHERE id = #{id}-->
<!--    </delete>-->
</mapper>