/* App.css */
.container {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  /*margin-left: 250px;*/
  margin-top : 30px;
  padding-left: 200px;
  padding-bottom: 100px;
}
body{
  background-color: ghostwhite;
}
